*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container{
   
    background-image: url(images/background.webp);
    background-size: cover;
    height: 60vh;
    
}

.navbar{
    display: flex;
    background-color: black;
}
.logo{
    color: white;
    padding: 10px;
    margin-left: 20px;
}
ul{
    display: flex;
    list-style: none;
    margin-left: 30%;
}

li{
   
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
    height: 50px;


}
li, a{
    text-decoration: none;
    
}
.main-heading{
    margin-top: 100px;
    margin-left: 250px;
    font-size: 70px;
    color: black;
   
}
h4{
    margin-left: 63%;
    font-size: 30px;
}
.content{
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
}
.about{

  width: 100%;
  padding: 78px 30px;

}
h3{
    margin: 10px 10px 20px;
    font-size: 30px;
    text-align: center;
    color: white;
}
span{
    font-size: 50px;
}
.about p{
    letter-spacing: 1.5px;
    align-items: center;
    color: white;
    line-height: 20px;
    text-align: justify;
}

.about-image img{
    margin-left: 100px;
    margin-top: 10px;
    width: 85%;
    height: 95%;

}
.bio{
    width: 100%;
    height: 70%;
} 

table{
   margin-top: 20px;
    color: white;
}
